<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> About Us </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'CSS/about.css') }}" height="200" width="200">
</head>

<div class="contents">
        <h3 class="section-title">The Team </h3>
        <div class="contents-item">
          <img src="{{ url_for('static', filename = 'kshitij.jpeg') }}" height="300" width="200">
          <p>Kshitij Dhar</p>
          <p>Frontend Designer</p>
        </div>
        <div class="contents-item">
          <img src="{{ url_for('static', filename = 'pratyush.jpg') }}" height="300" width="200">
          <p>M. Pratyush</p>
          <p>Frontend Handler</p>
        </div>
        <div class="contents-item">
          <img src="{{ url_for('static', filename = 'aditya.jpeg') }}" height="300" width="200">
          <p>Aditya Singh</p>
          <p>Backend Developer</p>
        </div>
        <div class="contents-item">
          <img src="{{ url_for('static', filename = 'abhishek.jpeg') }}" height="300" width="200">
          <p>Abhishek Bhalotia</p>
          <p>Backend Handler</p>
        </div>
</div>
