<!-- the below code is working, but loads the previous qr code. not the fresh one! -->

<!-- <img src="{{ url_for('static', filename = 'flask4.png') }}" height="300" width="200">  -->
<!DOCTYPE html>
<html>
<head>
        <script>
                function goBack() {
                  window.history.back()
                }
                </script>
    <title>QR IMAGE</title>
</head>
<body>
     <img src="{{ user_image }}" alt="QRCODE!"> 
     <button onclick="window.location='\\';">GO to home!</button>
     <button onclick="window.location='\\QR\\{{ fname }}';">Download the image!</button>
     <button onclick="goBack()">Go Back</button> 
</body>
</html>