<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Feedback </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'CSS/suggestion.css') }}">
</head>
<body>
        <script>
                function myFunction() {
                  window.alert("Thankyou for you feedback!!");
                }
        </script>
<form NAME = "REGFORM" METHOD = "POST" action = /suggestion >
<div class="contact-form">

        <h2 class = "section-name"> Liked/Disliked something? Please let us know here- </h2><br>
        <h2> Rate us - </h2> <div> 
        <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
        </fieldset> </div> <br>

        <br><br>
        <h2> Name- </h2>
        <input type = "text" placeholder="What is your name, please?" name = "name" autocomplete="off"><br>
            
        <h2> Feedback- </h2>
        <textarea type = "text" placeholder="Please help us improve :) " name = "feedback" autocomplete="off" rows=20 cols=60 autofocus=autofocus onfocus="this.value=''" required>  </textarea>
</div>
<br><br>
<button onclick="myFunction()" type = "submit" VALUE = "Submit" > Submit </button>
</form>
</body>
</html>
