<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> RUNTIME TERROR </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'CSS/terror.css') }}">
</head>
<script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
</script>
<body>
<div class="topnav" id="myTopnav">
    <a class="active" href="#home"> Home </a>
    <a href="\form"> Generate QR code</a>
    <a href="\about"> About</a>
    <a href="\reach"> Reach us </a>
    <a href="\upload">Upload</a>
    <a href="\suggestion"> Feedbacks </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"></a>
</div>

<div class = "main">
        <div class="top-wrapper">
          <div class="container">
            <h1> Welcome. We are the Runtime Terror. </h1>
            <p> We offer an easy solution to contact a large amount of people by just using a QR code :) </p>
          </div>
        </div>
      </div>

      
</body>
</html>